   <footer class="">
          <div class="container">
            <div class="row">
              <div class="">
                <h5 class="">garbages</h5>
                <p class="">share project with others.</p>
              </div>
              <div class="">
                <h5 class="">Links</h5>
                <ul>
                  <li><a class="" href="/garbages">public garbages</a></li>
                  <li><a class="" href="/about">about</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
          
            <div class="container">
            © 2018 bug friers
            </div>
          </div>
        </footer>