<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<!--navbar-->
<nav class="navbar navbar-expand-sm navbar-dark bg-warning">
  <div class="container">
    <a class="navbar-brand" href="/">Waste management App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
  </div>
</nav>

<div class="container">
<div class="row">
	<div class="col-lg-6">
		<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="https://render.fineartamerica.com/images/rendered/default/poster/10/8/break/images-medium-5/solid-waste-management-sinisa-botas.jpg" alt="Card image cap">
  			<div class="card-body">
    			<h5 class="card-title text-center">SOLID WASTE</h5>
    			<center><a href="/submitform" class="btn btn-primary">Submit</a></center> 
  			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="card" style="width: 18rem;">
  			<img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Biodegradable_waste.jpg/1200px-Biodegradable_waste.jpg" alt="Card image cap">
  			<div class="card-body">
    			<h5 class="card-title text-center">LIQUID WASTE</h5>
    			<center><a href="/user" class="btn btn-primary">Submit</a></center>
  			</div>
		</div>
	</div>
</div>
</div>