
{{#if user}}
  <h5>Welcome Back {{user.username}}</h5>
  <ul class="alt">
    
    <li><a href="/user/logout">Logout</a></li>
  </ul>
  
  {{else}}
  <h5> Login</h5>
    <form action="/user/login" method="POST">
      <label for="">Username:</label><br/>
      <input type="text" name="username"><br>
      <label for="">Pssword:</label><br/>
      <input type="password" name="password"><br>
      <input type="submit" value="submit" class="button blue">  
    </form>
{{/if}}