<div class="container">
  <div class="aboutContent">
      <center><h1 class="aboutHead">ABOUT</h1></center>
      <p>
      Waste management is the process of treating solid wastes and offers
      variety of solutions for recycling items that don’t belong to trash.
      It is about how garbage can be used as a valuable resource.
      Waste management is something that each and every household and business
      owner in the world needs. Waste management disposes of the products and substances
      that you have use in a safe and efficient manner.
    </br>
  </br>
      </p>
  </div>
</div>
